.lead__subtitle {
  font-family: 'Inter-Regular', 'Arial', 'Helvetica', sans-serif;
  width: 640px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
