.cover__subtitle {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;

  padding: 0px 412px 245px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding: 0px 332px 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding: 0px 205px 115px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    padding: 0px 16px 33px;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
