.place__paragraph_paragraph-two {
  grid-area: text1;
  font-family: 'Inter-Regular', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  max-width: 484px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__paragraph_paragraph-two {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph_paragraph-two {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .place__paragraph_paragraph-two {
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    font-size: 16px;
    max-width: 288px;
  }
}
